* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:black;
    color: #fff;
}

.section-content {
    z-index: 0;
    width: 100%;
    padding-top:5rem;
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
}



.media-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.media-container img {
    
    width: 50%;

    
    max-width: 500px;
    border-radius: 8px;
   
}

.media-container iframe {
    width: 50%;
    height: 340px;
    border-radius: 8px;
    border: none;
   
}

@media (max-width: 768px) {
    .media-container {
        flex-direction: column;
    }

    .media-container img, 
    .media-container iframe {
        width: 100%;
    }
}